.hero {
    height: calc(100vh - 100px);
    background: url('../img/teatro-mitre.jpg') center/cover no-repeat;
    overflow: hidden;
      background-attachment: fixed;
}

.hero-overlay {
    background: rgba(0, 0, 0, 0.80);
    backdrop-filter: blur(10px);
}

.hero-title {
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    letter-spacing: 8px;
}

.hero-description {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    letter-spacing: 5px;
}